* {
  box-sizing: border-box;
}

:root {
  --font-regular: Helvetica, Arial, sans-serif;
  --font-bold: "Patrick Hand", Helvetica, Arial, sans-serif;
  font-family: var(--font-regular);
  color: #4789C8;
  background: #EDE5D2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
  min-width: 320px;
  margin: 0;
  background: #EDE5D2;
}

b,
strong {
  font-family: var(--font-bold);
}

#root {
  min-height: 100vh;
}
